
 

  
  /* Ensure that the body and html occupy the full viewport */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the container that divides the screen */
.first-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* Style for the right half */
.right-half {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4779D6;
  ;
   /* Optional: Background color for the right half */
  padding: 20px; /* Optional: Padding for better spacing */
}

/* Style for the content inside the right half */
.right-half-content {
  max-width: 80%; /* Restrict the width of content */
  text-align: justify; /* Optional: Align text for better readability */
}

/* Style for the left container */
.left-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
 
  padding: 20px; /* Optional: Padding for better spacing */
}

/* Style for the input form */
.inputForm {
  width:336px;
  height:46px;
  margin-bottom: 15px; /* Space between input fields */
  box-sizing: border-box; /* Ensure padding and border are included in the element's width and height */
  padding: 10px; /* Padding inside the input fields */
  margin-bottom: 15px; 
  border: 1px solid #C4C8D4;
  border-radius: 5px;
}

/* Style for labels */


/* Style for the button */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color:#4779D6;
  font-family: DM Sans;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: center;

  color: white;
  border: none;
  border-radius: 5px;
}
.labelCs{
 font-weight: normal;
}


/* Style for the label text */
.label-questions{
width: 536px;
height: 24px;
opacity: 0px;
color: #343741;
font-size: 15px;
font-family: DM Sans;

}

/* Style for the radio input */
label input[type="radio"] {
  margin-right: 10px; /* Space between the radio button and the label text */
  accent-color: #4779D6; /* Default color for the radio button */
  width: 16px;
height: 16px;
gap: 0px;
border-radius: 16px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

}

.labelCs {
  font-weight: 500; /* Make the 'Self' text normal weight */
  color: #6A6D73;
  font-size:16px;

}


.submit-button{
  margin: 20px;
}
.priceswilingpay-label{
  margin-top: 20px;
}
.error-message {
  color: red;
  font-size: 12px;
}
.right-half-para{
 color: #FFFFFF;

}
.lable-container{
  margin:10px;
}
.account-link{
  color:#4779D6;
  
  text-decoration: none;
}






